.markdown-styles {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-styles .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-styles h1:hover .anchor .octicon-link:before,
.markdown-styles h2:hover .anchor .octicon-link:before,
.markdown-styles h3:hover .anchor .octicon-link:before,
.markdown-styles h4:hover .anchor .octicon-link:before,
.markdown-styles h5:hover .anchor .octicon-link:before,
.markdown-styles h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-styles details,
.markdown-styles figcaption,
.markdown-styles figure {
    display: block;
}

.markdown-styles summary {
    display: list-item;
}

.markdown-styles [hidden] {
    display: none !important;
}

.markdown-styles a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none;
}

.markdown-styles abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.markdown-styles b,
.markdown-styles strong {
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-styles dfn {
    font-style: italic;
}

.markdown-styles h1 {
    margin: 0.67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-styles mark {
    background-color: var(--color-attention-subtle);
    color: var(--color-fg-default);
}

.markdown-styles small {
    font-size: 90%;
}

.markdown-styles sub,
.markdown-styles sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown-styles sub {
    bottom: -0.25em;
}

.markdown-styles sup {
    top: -0.5em;
}

.markdown-styles img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default);
}

.markdown-styles code,
.markdown-styles kbd,
.markdown-styles pre,
.markdown-styles samp {
    font-family: monospace;
    font-size: 1em;
}

.markdown-styles figure {
    margin: 1em 40px;
}

.markdown-styles hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--color-border-muted);
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--color-border-default);
    border: 0;
}

.markdown-styles input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-styles [type="button"],
.markdown-styles [type="reset"],
.markdown-styles [type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

.markdown-styles [type="checkbox"],
.markdown-styles [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-styles [type="number"]::-webkit-inner-spin-button,
.markdown-styles [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.markdown-styles [type="search"]::-webkit-search-cancel-button,
.markdown-styles [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.markdown-styles ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.markdown-styles ::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit;
}

.markdown-styles a:hover {
    text-decoration: underline;
}

.markdown-styles ::placeholder {
    color: var(--color-fg-subtle);
    opacity: 1;
}

.markdown-styles hr::before {
    display: table;
    content: "";
}

.markdown-styles hr::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-styles table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    border: 1px solid var(--color-border-default);
    border-radius: 10px;
}

.markdown-styles td,
.markdown-styles th {
    padding: 0;
}

.markdown-styles details summary {
    cursor: pointer;
}

.markdown-styles details:not([open]) > *:not(summary) {
    display: none !important;
}

.markdown-styles a:focus,
.markdown-styles [role="button"]:focus,
.markdown-styles input[type="radio"]:focus,
.markdown-styles input[type="checkbox"]:focus {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none;
}

.markdown-styles a:focus:not(:focus-visible),
.markdown-styles [role="button"]:focus:not(:focus-visible),
.markdown-styles input[type="radio"]:focus:not(:focus-visible),
.markdown-styles input[type="checkbox"]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

.markdown-styles a:focus-visible,
.markdown-styles [role="button"]:focus-visible,
.markdown-styles input[type="radio"]:focus-visible,
.markdown-styles input[type="checkbox"]:focus-visible {
    outline: 2px solid var(--color-accent-fg);
    outline-offset: -2px;
    box-shadow: none;
}

.markdown-styles a:not([class]):focus,
.markdown-styles a:not([class]):focus-visible,
.markdown-styles input[type="radio"]:focus,
.markdown-styles input[type="radio"]:focus-visible,
.markdown-styles input[type="checkbox"]:focus,
.markdown-styles input[type="checkbox"]:focus-visible {
    outline-offset: 0;
}

.markdown-styles kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: var(--color-canvas-subtle);
    border: solid 1px var(--color-neutral-muted);
    border-bottom-color: var(--color-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.markdown-styles h1,
.markdown-styles h2,
.markdown-styles h3,
.markdown-styles h4,
.markdown-styles h5,
.markdown-styles h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
}

.markdown-styles h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-styles h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}

.markdown-styles h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em;
}

.markdown-styles h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.875em;
}

.markdown-styles h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.85em;
    color: var(--color-fg-muted);
}

.markdown-styles p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdown-styles blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: 0.25em solid var(--color-border-default);
}

.markdown-styles ul,
.markdown-styles ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdown-styles ol ol,
.markdown-styles ul ol {
    list-style-type: lower-roman;
}

.markdown-styles ul ul ol,
.markdown-styles ul ol ol,
.markdown-styles ol ul ol,
.markdown-styles ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-styles dd {
    margin-left: 0;
}

.markdown-styles tt,
.markdown-styles code,
.markdown-styles samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

.markdown-styles pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdown-styles .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-styles input::-webkit-outer-spin-button,
.markdown-styles input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown-styles .mr-2 {
    margin-right: var(--base-size-8, 8px) !important;
}

.markdown-styles::before {
    display: table;
    content: "";
}

.markdown-styles::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-styles > *:first-child {
    margin-top: 0 !important;
}

.markdown-styles > *:last-child {
    margin-bottom: 0 !important;
}

.markdown-styles a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-styles .absent {
    color: var(--color-danger-fg);
}

.markdown-styles .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-styles .anchor:focus {
    outline: none;
}

.markdown-styles p,
.markdown-styles blockquote,
.markdown-styles ul,
.markdown-styles ol,
.markdown-styles dl,
.markdown-styles table,
.markdown-styles pre,
.markdown-styles details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-styles blockquote > :first-child {
    margin-top: 0;
}

.markdown-styles blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-styles h1 .octicon-link,
.markdown-styles h2 .octicon-link,
.markdown-styles h3 .octicon-link,
.markdown-styles h4 .octicon-link,
.markdown-styles h5 .octicon-link,
.markdown-styles h6 .octicon-link {
    color: var(--color-fg-default);
    vertical-align: middle;
    visibility: hidden;
}

.markdown-styles h1:hover .anchor,
.markdown-styles h2:hover .anchor,
.markdown-styles h3:hover .anchor,
.markdown-styles h4:hover .anchor,
.markdown-styles h5:hover .anchor,
.markdown-styles h6:hover .anchor {
    text-decoration: none;
}

.markdown-styles h1:hover .anchor .octicon-link,
.markdown-styles h2:hover .anchor .octicon-link,
.markdown-styles h3:hover .anchor .octicon-link,
.markdown-styles h4:hover .anchor .octicon-link,
.markdown-styles h5:hover .anchor .octicon-link,
.markdown-styles h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-styles h1 tt,
.markdown-styles h1 code,
.markdown-styles h2 tt,
.markdown-styles h2 code,
.markdown-styles h3 tt,
.markdown-styles h3 code,
.markdown-styles h4 tt,
.markdown-styles h4 code,
.markdown-styles h5 tt,
.markdown-styles h5 code,
.markdown-styles h6 tt,
.markdown-styles h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}

.markdown-styles summary h1,
.markdown-styles summary h2,
.markdown-styles summary h3,
.markdown-styles summary h4,
.markdown-styles summary h5,
.markdown-styles summary h6 {
    display: inline-block;
}

.markdown-styles summary h1 .anchor,
.markdown-styles summary h2 .anchor,
.markdown-styles summary h3 .anchor,
.markdown-styles summary h4 .anchor,
.markdown-styles summary h5 .anchor,
.markdown-styles summary h6 .anchor {
    margin-left: -40px;
}

.markdown-styles summary h1,
.markdown-styles summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

.markdown-styles ul.no-list,
.markdown-styles ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-styles ol[type="a s"] {
    list-style-type: lower-alpha;
}

.markdown-styles ol[type="A s"] {
    list-style-type: upper-alpha;
}

.markdown-styles ol[type="i s"] {
    list-style-type: lower-roman;
}

.markdown-styles ol[type="I s"] {
    list-style-type: upper-roman;
}

.markdown-styles ol[type="1"] {
    list-style-type: decimal;
}

.markdown-styles div > ol:not([type]) {
    list-style-type: decimal;
}

.markdown-styles ul ul,
.markdown-styles ul ol,
.markdown-styles ol ol,
.markdown-styles ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-styles li > p {
    margin-top: 16px;
}

.markdown-styles li + li {
    margin-top: 0.25em;
}

.markdown-styles dl {
    padding: 0;
}

.markdown-styles dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-styles dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-styles table th {
    background-color: var(--color-canvas-subtle);
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-styles table th,
.markdown-styles table td {
    text-wrap: nowrap;
    padding: 4px 40px;
    border-left: 1px solid var(--color-border-default);
}

.markdown-styles table td:first-child {
    border-left: none;
}

.markdown-styles table thead th:first-child {
    border-left: none;
}

.markdown-styles table td > :last-child {
    margin-bottom: 0;
}

.markdown-styles table tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

.markdown-styles table thead tr:first-child {
    border-top: none;
}

.markdown-styles table img {
    background-color: transparent;
}

.markdown-styles img[align="right"] {
    padding-left: 20px;
}

.markdown-styles img[align="left"] {
    padding-right: 20px;
}

.markdown-styles .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdown-styles span.frame {
    display: block;
    overflow: hidden;
}

.markdown-styles span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--color-border-default);
}

.markdown-styles span.frame span img {
    display: block;
    float: left;
}

.markdown-styles span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--color-fg-default);
}

.markdown-styles span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-styles span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdown-styles span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-styles span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-styles span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdown-styles span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-styles span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdown-styles span.float-left span {
    margin: 13px 0 0;
}

.markdown-styles span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdown-styles span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-styles code,
.markdown-styles tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--color-neutral-muted);
    border-radius: 6px;
}

.markdown-styles code br,
.markdown-styles tt br {
    display: none;
}

.markdown-styles del code {
    text-decoration: inherit;
}

.markdown-styles samp {
    font-size: 85%;
}

.markdown-styles pre code {
    font-size: 100%;
}

.markdown-styles pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-styles .highlight {
    margin-bottom: 16px;
}

.markdown-styles .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-styles .highlight pre,
.markdown-styles pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
    scrollbar-width: none;
}

.markdown-styles pre code,
.markdown-styles pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-styles .csv-data td,
.markdown-styles .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdown-styles .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--color-canvas-default);
    border: 0;
}

.markdown-styles .csv-data tr {
    border-top: 0;
}

.markdown-styles .csv-data th {
    font-weight: var(--base-text-weight-semibold, 600);
    background: var(--color-canvas-subtle);
    border-top: 0;
}

.markdown-styles [data-footnote-ref]::before {
    content: "[";
}

.markdown-styles [data-footnote-ref]::after {
    content: "]";
}

.markdown-styles .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default);
}

.markdown-styles .footnotes ol {
    padding-left: 16px;
}

.markdown-styles .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}

.markdown-styles .footnotes li {
    position: relative;
}

.markdown-styles .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid var(--color-accent-emphasis);
    border-radius: 6px;
}

.markdown-styles .footnotes li:target {
    color: var(--color-fg-default);
}

.markdown-styles .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdown-styles .pl-c {
    color: var(--color-prettylights-syntax-comment);
}

.markdown-styles .pl-c1,
.markdown-styles .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.markdown-styles .pl-e,
.markdown-styles .pl-en {
    color: var(--color-prettylights-syntax-entity);
}

.markdown-styles .pl-smi,
.markdown-styles .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdown-styles .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.markdown-styles .pl-k {
    color: var(--color-prettylights-syntax-keyword);
}

.markdown-styles .pl-s,
.markdown-styles .pl-pds,
.markdown-styles .pl-s .pl-pse .pl-s1,
.markdown-styles .pl-sr,
.markdown-styles .pl-sr .pl-cce,
.markdown-styles .pl-sr .pl-sre,
.markdown-styles .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}

.markdown-styles .pl-v,
.markdown-styles .pl-smw {
    color: var(--color-prettylights-syntax-variable);
}

.markdown-styles .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdown-styles .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdown-styles .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdown-styles .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.markdown-styles .pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}

.markdown-styles .pl-mh,
.markdown-styles .pl-mh .pl-en,
.markdown-styles .pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.markdown-styles .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.markdown-styles .pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.markdown-styles .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdown-styles .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdown-styles .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdown-styles .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdown-styles .pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdown-styles .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdown-styles .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdown-styles .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.markdown-styles g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: var(--base-text-weight-normal, 400);
    line-height: 1;
    vertical-align: -0.075em;
}

.markdown-styles g-emoji img {
    width: 1em;
    height: 1em;
}

.markdown-styles .task-list-item {
    list-style-type: none;
}

.markdown-styles .task-list-item label {
    font-weight: var(--base-text-weight-normal, 400);
}

.markdown-styles .task-list-item.enabled label {
    cursor: pointer;
}

.markdown-styles .task-list-item + .task-list-item {
    margin-top: 4px;
}

.markdown-styles .task-list-item .handle {
    display: none;
}

.markdown-styles .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
}

.markdown-styles .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}

.markdown-styles .contains-task-list {
    position: relative;
}

.markdown-styles .contains-task-list:hover .task-list-item-convert-container,
.markdown-styles .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}

.markdown-styles ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.markdown-styles .markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: 16px;
    color: inherit;
    border-left: 0.25em solid var(--color-border-default);
}

.markdown-styles .markdown-alert > :first-child {
    margin-top: 0;
}

.markdown-styles .markdown-alert > :last-child {
    margin-bottom: 0;
}

.markdown-styles .markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium, 500);
    align-items: center;
    line-height: 1;
}

.markdown-styles .markdown-alert.markdown-alert-note {
    border-left-color: var(--color-accent-emphasis);
}

.markdown-styles .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-accent-fg);
}

.markdown-styles .markdown-alert.markdown-alert-important {
    border-left-color: var(--color-done-emphasis);
}

.markdown-styles .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-done-fg);
}

.markdown-styles .markdown-alert.markdown-alert-warning {
    border-left-color: var(--color-attention-emphasis);
}

.markdown-styles .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--color-attention-fg);
}

.markdown-styles .markdown-alert.markdown-alert-tip {
    border-left-color: var(--color-success-emphasis);
}

.markdown-styles .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-success-fg);
}

.markdown-styles .markdown-alert.markdown-alert-caution {
    border-left-color: var(--color-danger-emphasis);
}

.markdown-styles .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--color-danger-fg);
}